/**********************************************************************
Gomoku: Play Gomoku with AI powered computer!
Copyright (C) 2024  langningchen

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
**********************************************************************/

#include "Resource.hpp"

ID_MAIN_MENU MENU {
	POPUP "&Main" {
		MENUITEM "&New\aCtrl+N", IDC_MENU_NEW_GAME
		MENUITEM "&Load\aCtrl+L", IDC_MENU_LOAD
		MENUITEM "&Save\aCtrl+S", IDC_MENU_SAVE
		MENUITEM "&End\aCtrl+E", IDC_MENU_END_GAME, GRAYED
        MENUITEM SEPARATOR
		MENUITEM "&Options\aCtrl+O", IDC_MENU_OPTIONS
		MENUITEM "&Close\aCtrl+C", IDC_MENU_EXIT
	}
	MENUITEM "&About", IDC_MENU_ABOUT
}

IDB_RESOURCE_IMAGE BITMAP "Resources\\Chess.bmp"
IDI_RESOURCE_ICON ICON "Resources\\Icon.ico"

IDR_ACCELERATOR ACCELERATORS {
	"^N", IDC_MENU_NEW_GAME 
	"^L", IDC_MENU_LOAD 
	"^S", IDC_MENU_SAVE 
	"^E", IDC_MENU_END_GAME 
	"^O", IDC_MENU_OPTIONS 
	"^C", IDC_MENU_EXIT 
}